<div class="col-md-3">
  <app-search></app-search>
  <br> <br>
  <ul class="nav nav-pills" style="margin-top: 10px;">
    <li 
      routerLinkActive="active">
        <a 
          class="nav-link"
          routerLink="/hour">
        
          Hour
        
        </a>
    </li>
    <li
      routerLinkActive="active">
      <a 
        class="nav-link"
        routerLink="/day">Day</a>
    </li>
    <li
      routerLinkActive="active">
      <a 
        class="nav-link"
        routerLink="/month">Month</a>
    </li>
  </ul>
 
</div>
<div class="col-md-9">
  <app-map></app-map>
  <router-outlet></router-outlet>
</div>

