<script src="node_modules/chart.js/src/chart.js"></script>

<div class="row">
  <div class="col-xs-8">
    <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-xs-4">
    <form [formGroup]="yearForm" (ngSubmit)="onSubmit()">
      <div class="row" class="form-group">
        <label for="year">Select year:    </label>
          <input 
            type="number" 
            size="4" 
            name="year"
            id="year" 
            formControlName="year"
            class="form-control" >
            <div class="row" style="margin-top: 10px;">
              <button 
                type="button" 
                class="btn btn-primary" 
                (click)="start()"
                style="margin-left: 10px;">Select</button>
            </div>
      </div>
   </form>
  </div>
</div>
