<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group">
          <label for="location-name">Location</label>
          <input 
            type="text" 
            class="form-control" 
            name="location-name"
            formControlName="location-name">
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="locationForm.invalid">Search</button>
     
     <div class="form-group">
      <label for="start">Start Date:</label>
      <input type="datetime-local" value="2000-01-01T00:00:00"  class="form-control"  formControlName="start" name="start">
     </div>
     
     <button (click)=" isShow=!isShow" class="btn btn-primary">End Date</button>
          <div class="ruleOptionsPanel" *ngIf=" isShow">
              <div class="form-group">
                  <label for="start">End Date:</label>
                  <input 
                    type="datetime-local" 
                    value="T00:00" 
                    class="form-control" 
                    id="end" 
                    formControlName="end" 
                    name="end">
                </div>
          </div>
      <!--<button 
        type="button" 
        class="btn btn-defautlt" 
        (click)="getRoutes()"
        style="margin-left: 10px;">GET ROUTES</button>-->
      <button 
        type="button" 
        class="btn btn-defautlt" 
        (click)="filterRoutes()"
        style="margin-left: 10px;">FILTER ROUTES</button>
    </form> 
  </div>
</div>

<script>
 document.getElementById('alo').value = new Date().toDateInputValue();
</script>
